---
layout: default
title: Home
---

<section>
<p>
    <img src="/assets/img/sushi-avatar.jpg" alt="Fiona Chow's Picture"/>
</p>
<h2>Hello!</h2>
<p>My name is Fiona Chow. I'm a Data Engineer/Data Scientist based in Glasgow, Scotland. Welcome.
</p>
</section>

<section>
{% for post in paginator.posts %}
{% if (post.featured) %}
<article>
  <a href="{{ site.github.url }}{{ post.url }}">
    <div class="featured-posts" {% if post.image %}style="background-image:url({{ site.github.url }}/assets/img/{{ post.image }})"{% endif %}>
      <h2><span>{{ post.title }}</span></h2>
    </div>
  </a>
</article>
{% endif %}
{% endfor %}
</section>

<!-- Pagination links -->
<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-button pagination-active next" href="{{ site.github.url }}{{ paginator.next_page_path }}">{{ site.data.settings.pagination.previous_page }}</a>
  {% else %}
    <span class="pagination-button">{{ site.data.settings.pagination.previous_page }}</span>
  {% endif %}

  {% if paginator.previous_page %}
    <a class="pagination-button pagination-active" href="{{ site.baseurl }}{{ paginator.previous_page_path }}">{{ site.data.settings.pagination.next_page }}</a>
    {% else %}
      <span class="pagination-button">{{ site.data.settings.pagination.next_page }}</span>
  {% endif %}
</div>
